<launch>

  <!-- Navigation requires at least one map.
       In addition, it is sometimes desirable to have a "keepout" map
       which is used for costmaps, but not localization -->
  <node pkg="gmapping" type="slam_gmapping" name="slam" output="screen">
    <remap from="scan" to="base_scan" />
  </node>
  
  <node pkg="nav" type="base_coordinates_sub.py" name = "base_coordinates_sub"/>
    
  <!-- Navigation parameter files -->
  <arg name="move_base_include" default="$(find nav)/launch/include/move_base.launch.xml" />
  <!--arg name="amcl_include" default="$(find fetch_navigation)/launch/include/amcl.launch.xml" /-->

  <!-- set topics -->
  <arg name="scan_topic" default="base_scan" />
  <arg name="map_topic" default="map" />
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />

  <!-- move the robot -->
  <include file="$(arg move_base_include)" >
    <arg name="name" value="fetch" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <arg name="odom_topic" value="$(arg odom_topic)" />
  </include>

  <!-- tilt the head -->
  <node pkg="fetch_navigation" type="tilt_head.py" name="tilt_head_node" />

</launch>
